body {
  max-width: 100%;
  overflow-x: hidden;
  padding-top: 76px; }

.header {
  padding: 10px 0;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #FFF; }

.menu-trigger {
  display: none;
  font-size: 30px;
  position: relative; }
  .menu-trigger__icon {
    line-height: 46px; }

.logo__img {
  max-width: 100%; }

.link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #101219; }
  .link:hover {
    text-decoration: none; }

.menu {
  width: 100%;
  height: 56px;
  line-height: 56px; }
  .menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    line-height: 1;
    text-align: center;
    width: 100%; }
  .menu__item {
    display: inline-block;
    margin-right: 10px; }
    .menu__item:not(:last-of-type) {
      margin-right: 0; }
  .menu__link {
    display: inline-block;
    padding: 5px 10px;
    letter-spacing: .1em; }
    .menu__link_curent, .menu__link:hover {
      background-color: #33a296;
      color: #fff; }

.access {
  height: 56px;
  line-height: 61px; }
  .access__login, .access__register {
    font-size: 14px;
    display: inline-block;
    padding: 0 15px; }
    .access__login:hover, .access__register:hover {
      color: #33a296; }
  .access__login::before {
    content: '';
    display: inline-block;
    margin-right: 15px;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: 0% 0px;
    width: 43px;
    height: 17px;
    position: relative;
    top: 2px; }
  .access__login:hover::before {
    background-position: -43px 0; }
  .access_tablet-right {
    text-align: right; }

.top-block {
  background-color: #62b29d;
  background-image: url("../img/banner-bg.png");
  background-repeat: no-repeat;
  background-position: 93% bottom;
  background-size: contain; }
  .top-block .container {
    position: relative; }
  .top-block_no-bg {
    background-image: none; }

.banner {
  padding-right: 109px;
  margin-top: 16vh;
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 1s;
  transition: all 1s; }
  .banner_disabled {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  .banner__date {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -5px -22px;
    display: block;
    width: 221px;
    height: 53px;
    margin: auto;
    text-align: center;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    letter-spacing: .1em;
    padding-top: 3px; }
  .banner__action-text {
    font-family: 'OpenGost Type A TT', serif;
    text-transform: uppercase;
    font-size: 36px;
    position: relative;
    z-index: 1;
    letter-spacing: .16em; }
  .banner__toggle-video {
    position: relative;
    height: 175px;
    width: 270px;
    margin: 40px auto 145px; }
  .banner__arrows {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: 0 -62px;
    background-size: 104%;
    width: 178px;
    height: 115px;
    position: absolute;
    top: 55px;
    left: 14px;
    z-index: 0;
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: rotate(125deg);
    -ms-transform: rotate(125deg);
    transform: rotate(125deg);
    opacity: 0;
    -webkit-transition: all 1s;
    transition: all 1s; }
    .banner__arrows_visible {
      opacity: 1;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }
  .banner__play {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    width: 100px;
    height: 88px;
    background-size: 183%;
    background-position: 0px -183px;
    position: absolute;
    right: 6px;
    top: 25px;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all 1s .5s;
    transition: all 1s .5s; }
    .banner__play_visible {
      opacity: 1; }

.headline {
  color: #fff;
  text-align: center; }
  .headline__header {
    letter-spacing: .16em;
    font-size: 81px;
    font-family: 'OpenGost Type A TT', serif;
    text-transform: uppercase;
    line-height: 0.8; }
  .headline__bigest-word {
    font-size: 131px; }
  .headline__text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: .46em; }

.video:not(html) {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  visibility: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: -1;
  opacity: 0; }

.video_enabled:not(html) {
  z-index: 1;
  opacity: 1;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  visibility: visible; }

.video__player {
  position: absolute;
  padding: 26px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 70%;
  margin: auto;
  display: block; }
  .video__player iframe {
    width: 100%; }

.video__close {
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: -5px;
  cursor: pointer;
  right: 0; }
  .video__close:hover {
    text-shadow: 0px 0px 2px black; }

.news-block__toggler {
  background-color: #41303e;
  color: #fff;
  margin: 0;
  text-align: center;
  font-size: 32px;
  font-family: 'OpenGost Type A TT', serif;
  letter-spacing: 0.24em;
  padding: 28px;
  cursor: pointer;
  position: relative;
  z-index: 3; }
  .news-block__toggler::after {
    content: '';
    display: block;
    width: 0;
    border: 70px solid transparent;
    border-top: 50px solid #41303e;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    pointer-events: none; }

.news-block__container {
  margin-top: 70px;
  margin-bottom: 70px; }

.news {
  padding: 0 10%; }
  .news__body {
    text-align: justify;
    display: none; }
    .news__body p {
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto; }
  .news__redirect {
    text-decoration: underline; }
  .news__button {
    background-color: #6b5a8d;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    height: 45px;
    width: 45px;
    line-height: 45px;
    cursor: pointer;
    text-align: center;
    top: 0;
    right: 0;
    position: absolute; }
    .news__button span {
      -webkit-transition: all .5s;
      transition: all .5s; }
    .news__button_opened span {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }

.news-name {
  position: relative;
  margin-bottom: 35px;
  height: 70px; }
  .news-name__text {
    margin: 0;
    padding-right: 50px;
    font-family: 'OpenGost Type A TT', serif;
    text-decoration: underline;
    font-size: 32px;
    letter-spacing: 0.1em; }

.form-block {
  background-color: #6b5a8d;
  color: #fff;
  padding-top: 100px; }

.title {
  text-align: center; }
  .title__heading {
    margin: 0;
    font-family: 'OpenGost Type A TT', serif;
    text-transform: uppercase;
    font-size: 55px;
    letter-spacing: 0.16em;
    margin-bottom: 15px; }
  .title__text {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 0.1em; }
