body {
  max-width: 100%;
  overflow-x: hidden;
  padding-top: 76px; }

.header {
  padding: 10px 0;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #FFF; }
  .header_scrolled {
    -webkit-box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.4); }

.menu-trigger {
  display: none;
  font-size: 30px;
  position: relative; }
  .menu-trigger__icon {
    line-height: 46px; }

.logo__img {
  max-width: 100%; }

.link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #101219; }
  .link:hover {
    text-decoration: none; }

.menu {
  width: 100%;
  height: 56px;
  line-height: 72px; }
  .menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    line-height: 1;
    text-align: center;
    width: 100%; }
  .menu__item {
    display: inline-block;
    margin-right: 10px; }
    .menu__item:not(:last-of-type) {
      margin-right: 0; }
  .menu__link {
    display: inline-block;
    padding: 5px 10px;
    letter-spacing: .1em;
    position: relative;
    overflow: hidden; }
    .menu__link::after {
      content: '';
      position: absolute;
      height: 5px;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      width: 5px;
      z-index: -1;
      background-color: transparent;
      -webkit-transition: all .5s;
      transition: all .5s;
      opacity: 0; }
    .menu__link_curent, .menu__link:hover {
      color: #fff; }
      .menu__link_curent::after, .menu__link:hover::after {
        background-color: #33a296;
        color: #fff;
        width: 100%;
        opacity: 1;
        height: 26px;
        -webkit-border-radius: 0;
        border-radius: 0; }

.access {
  height: 56px;
  line-height: 61px; }
  .access__login, .access__register {
    font-size: 14px;
    display: inline-block;
    padding: 0 15px; }
    .access__login:hover, .access__register:hover {
      color: #33a296; }
  .access__login::before {
    content: '';
    display: inline-block;
    margin-right: 15px;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: 0% 0px;
    width: 43px;
    height: 17px;
    position: relative;
    top: 2px; }
  .access__login:hover::before {
    background-position: -43px 0; }
  .access_tablet-right {
    text-align: right; }

.top-block {
  background-color: #62b29d;
  background-image: url("../img/banner-bg.png");
  background-repeat: no-repeat;
  background-position: 93% bottom;
  background-size: contain; }
  .top-block .container {
    position: relative; }
  .top-block_no-bg {
    background-image: none; }

.banner {
  padding-right: 109px;
  margin-top: 16vh;
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 1s;
  transition: all 1s; }
  .banner_disabled {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  .banner__date {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -5px -22px;
    display: block;
    width: 221px;
    height: 53px;
    margin: auto;
    text-align: center;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    letter-spacing: .1em;
    padding-top: 3px; }
  .banner__action-text {
    font-family: 'OpenGost Type A TT', serif;
    text-transform: uppercase;
    font-size: 36px;
    position: relative;
    z-index: 1;
    letter-spacing: .16em; }
  .banner__toggle-video {
    position: relative;
    height: 175px;
    width: 270px;
    margin: 40px auto 145px; }
  .banner__arrows {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: 0 -98px;
    width: 245px;
    height: 167px;
    position: absolute;
    top: 55px;
    left: -39px;
    z-index: 0;
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: rotate(125deg);
    -ms-transform: rotate(125deg);
    transform: rotate(125deg);
    opacity: 0;
    -webkit-transition: all 1s;
    transition: all 1s; }
    .banner__arrows_visible {
      opacity: 1;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }
  .banner__play {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    width: 131px;
    height: 123px;
    background-position: -6px -265px;
    position: absolute;
    right: -24px;
    top: 25px;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all 1s .5s;
    transition: all 1s .5s; }
    .banner__play_visible {
      opacity: 1; }

.headline {
  color: #fff;
  text-align: center; }
  .headline__header {
    letter-spacing: .16em;
    font-size: 81px;
    font-family: 'OpenGost Type A TT', serif;
    text-transform: uppercase;
    line-height: 0.8; }
  .headline__bigest-word {
    font-size: 131px; }
  .headline__text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: .46em; }

.video:not(html) {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  visibility: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: -1;
  opacity: 0; }

.video_enabled:not(html) {
  z-index: 1;
  opacity: 1;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  visibility: visible; }

.video__player {
  position: absolute;
  padding: 26px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 70%;
  margin: auto;
  display: block; }
  .video__player iframe {
    width: 100%; }

.video__close {
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: -5px;
  cursor: pointer;
  right: 0; }
  .video__close:hover {
    text-shadow: 0px 0px 2px black; }

.news-block__toggler {
  background-color: #41303e;
  color: #fff;
  margin: 0;
  text-align: center;
  font-size: 32px;
  font-family: 'OpenGost Type A TT', serif;
  letter-spacing: 0.24em;
  padding: 28px;
  cursor: pointer;
  position: relative;
  z-index: 3; }
  .news-block__toggler::after {
    content: '';
    display: block;
    width: 0;
    border: 70px solid transparent;
    border-top: 50px solid #41303e;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    pointer-events: none; }

.news-block__container {
  margin-top: 70px;
  margin-bottom: 70px; }

.news {
  padding: 0 10%; }
  .news__body {
    text-align: justify;
    display: none; }
    .news__body p {
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto; }
  .news__redirect {
    text-decoration: underline; }
  .news__button {
    background-color: #6b5a8d;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    height: 45px;
    width: 45px;
    line-height: 45px;
    cursor: pointer;
    text-align: center;
    top: 0;
    right: 0;
    position: absolute; }
    .news__button span {
      -webkit-transition: all .5s;
      transition: all .5s; }
    .news__button_opened span {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }

.news-name {
  position: relative;
  margin-bottom: 35px;
  height: 70px; }
  .news-name__text {
    margin: 0;
    padding-right: 50px;
    font-family: 'OpenGost Type A TT', serif;
    text-decoration: underline;
    font-size: 32px;
    letter-spacing: 0.1em; }

.form-block {
  background-color: #6b5a8d;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 40px; }
  .form-block__name, .form-block__tel {
    width: 362px;
    display: inline-block;
    background-image: url("../img/sprite.png");
    background-position: -10px -385px;
    background-repeat: no-repeat;
    padding-bottom: 20px; }
    .form-block__name input, .form-block__tel input {
      outline: none;
      display: inline-block;
      width: 100%;
      text-align: center;
      background-color: transparent;
      border: none;
      color: #fff;
      font-size: 16px;
      letter-spacing: .1em; }
      .form-block__name input::-webkit-input-placeholder, .form-block__name input::-moz-placeholder, .form-block__name input:-moz-placeholder, .form-block__name input:-ms-input-placeholder, .form-block__tel input::-webkit-input-placeholder, .form-block__tel input::-moz-placeholder, .form-block__tel input:-moz-placeholder, .form-block__tel input:-ms-input-placeholder {
        opacity: 1; }
  .form-block__name {
    margin-right: 10%; }
  .form-block__messege {
    position: relative;
    margin-bottom: 65px; }
    .form-block__messege textarea {
      display: block;
      width: 100%;
      margin: auto;
      margin-top: 40px;
      outline: none;
      resize: none;
      text-align: center;
      overflow-y: auto;
      background-color: transparent;
      border: none;
      font-size: 16px;
      border-bottom: 4px solid #fff; }
    .form-block__messege::after, .form-block__messege::before {
      content: '';
      display: block;
      height: 10px;
      width: 10px;
      background-color: #FFF;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      bottom: -3px;
      left: -1px;
      position: absolute; }
    .form-block__messege::before {
      left: initial;
      right: -1px; }
  .form-block__submit {
    display: block;
    width: 305px;
    height: 95px;
    margin: auto;
    outline: none;
    background-image: url("../img/sprite.png");
    background-position: -7px -490px;
    background-color: transparent;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 50px; }
    .form-block__submit span {
      -webkit-transition: all .5s;
      transition: all .5s; }
    .form-block__submit:hover span {
      -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
      transform: translateX(-20px); }
  .form-block__contact-tel {
    color: #fff;
    margin-bottom: 10px;
    font-size: 24px;
    letter-spacing: 0.1em; }
    .form-block__contact-tel:hover {
      color: #fff; }
  .form-block__service {
    color: #fff;
    text-decoration: underline; }
    .form-block__service:hover {
      color: #fff;
      text-decoration: underline; }

.form {
  text-align: center; }

.title {
  text-align: center; }
  .title__heading {
    margin: 0;
    font-family: 'OpenGost Type A TT', serif;
    text-transform: uppercase;
    font-size: 55px;
    letter-spacing: 0.16em;
    margin-bottom: 15px; }
  .title__text {
    font-family: 'Helvetica', sans-serif;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin-bottom: 60px; }

.footer__img {
  position: relative;
  max-width: 100%;
  min-width: 100%;
  z-index: 0;
  height: 30px; }
  .footer__img img {
    position: absolute;
    right: -5px;
    bottom: -136px; }

.footer > .container {
  position: relative;
  z-index: 1; }

.footer-info {
  margin-top: 20px;
  min-height: 90px;
  padding: 15px 0;
  background-color: #ececec; }
  .footer-info__copyright {
    min-height: 40px;
    line-height: 40px;
    margin-left: 15px;
    color: #7f7f7f;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    max-width: 50%; }
    .footer-info__copyright span {
      line-height: normal;
      display: inline-block;
      margin-left: 30px; }
    .footer-info__copyright .copy {
      font-size: 26px;
      height: 26px;
      display: inline-block;
      position: absolute;
      top: 0px;
      bottom: 0;
      margin: auto;
      line-height: 1; }

.web-studio {
  display: inline-block;
  float: right;
  line-height: normal;
  margin-right: 15px; }
  .web-studio:hover {
    text-decoration: none; }
  .web-studio__text {
    text-align: right;
    line-height: normal;
    display: inline-block;
    color: black; }
  .web-studio__img {
    display: inline-block;
    vertical-align: top; }

.apartments {
  background-color: #ed8d54;
  display: none;
  background-image: -webkit-radial-gradient(ellipse farthest-corner at center top, #f3ac4a 0%, #ed8d54 100%);
  background-image: radial-gradient(ellipse farthest-corner at center top, #f3ac4a 0%, #ed8d54 100%); }
  .apartments__header {
    text-align: center;
    color: #fff;
    font-family: 'OpenGost Type A TT', serif;
    font-size: 60px;
    letter-spacing: 0.16em;
    margin-top: 100px;
    margin-bottom: 20px; }
  .apartments__s-header {
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: 'Helvetica', sans-serif;
    letter-spacing: 0.1em;
    color: #2f232c;
    line-height: 1;
    margin-bottom: 50px; }

.carousel-item__text {
  color: #fff;
  font-family: 'OpenGost Type A TT', serif;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 1.25em;
  text-align: center; }

.carousel-item__img {
  display: block;
  margin: auto; }

.owl-buttons {
  position: relative; }
  .owl-buttons div {
    position: absolute;
    top: -135px;
    margin: auto;
    height: 85px; }
    .owl-buttons div.owl-next {
      right: 0; }
  .owl-buttons span {
    font-size: 72px; }
    .owl-buttons span:hover {
      color: #fff; }

.guest-block__header {
  text-align: center;
  text-transform: uppercase;
  font-family: 'OpenGost Type A TT', serif;
  letter-spacing: 0.16em;
  font-size: 55px;
  margin-top: 85px;
  margin-bottom: 40px; }

.guest-block__slogan {
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 1.875em;
  max-width: 590px;
  margin: auto;
  margin-bottom: 70px; }

.guest-block .slider {
  max-width: 87%;
  margin: auto;
  position: relative; }
  .guest-block .slider__controls {
    background-color: #6b5a8d;
    color: #1d1513;
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 61px;
    font-size: 34px;
    position: absolute;
    top: 45%;
    z-index: 3;
    display: none; }
    .guest-block .slider__controls:hover {
      color: #fff; }
    .guest-block .slider__controls_next {
      right: 0; }
  .guest-block .slider__label {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #33a296;
    color: #FFF;
    padding: 10px;
    font-size: 21px;
    font-family: 'Roboto';
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: none; }
  .guest-block .slider .slider-container {
    clear: both;
    position: relative; }
  .guest-block .slider__slide {
    display: inline-block;
    position: relative;
    left: 0; }
    .guest-block .slider__slide:not(:first-of-type) {
      margin-left: -4px; }
    .guest-block .slider__slide a {
      display: inline-block;
      position: absolute;
      z-index: 2;
      width: 185px;
      color: #fff;
      background-color: #33a296;
      text-align: center;
      padding: 10px 0;
      outline: 2px solid #fff;
      text-transform: uppercase;
      bottom: 5%;
      right: 13%;
      font-size: 20px;
      letter-spacing: 0.16em;
      text-decoration: none;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all .3s;
      transition: all .3s; }
    .guest-block .slider__slide.active a {
      visibility: visible;
      opacity: 1; }
    .guest-block .slider__slide.active .slider__label {
      visibility: visible;
      opacity: 1; }
    .guest-block .slider__slide img {
      max-width: 100%; }

.guest-block__slide-text {
  text-align: justify;
  font-size: 18px;
  font-family: 'Helvetica';
  position: absolute;
  z-index: 0;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  visibility: hidden;
  top: 0;
  margin-bottom: 50px; }
  .guest-block__slide-text.active {
    position: static;
    opacity: 1;
    visibility: visible; }

.slide-headings {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 65px; }
  .slide-headings__heading {
    display: inline-block;
    font-size: 21px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    font-family: 'Helvetica';
    letter-spacing: 0.1em;
    margin-left: 50px; }
    .slide-headings__heading:first-of-type {
      margin-left: 0; }
    .slide-headings__heading::after {
      content: '';
      border: 18px solid transparent;
      border-top: 15px solid #33a296;
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      margin: auto;
      width: 15px;
      pointer-events: none;
      visibility: hidden; }
    .slide-headings__heading.active {
      background-color: #33a296;
      color: #fff;
      font-family: 'Roboto', sans-serif; }
      .slide-headings__heading.active::after {
        visibility: visible; }

.room {
  background-color: #EDB660;
  background-image: -webkit-radial-gradient(circle farthest-side at left center, #FFD766 10%, #EDB660 50%);
  background-image: radial-gradient(circle farthest-side at left center, #FFD766 10%, #EDB660 50%);
  padding-top: 100px;
  padding-bottom: 80px;
  overflow: hidden;
  background-image: url("../img/room-big.png");
  background-repeat: no-repeat;
  background-size: 1320px;
  background-position: -475px 150px;
  min-height: 1075px; }
  .room__apartments-img {
    left: -145px;
    top: 31px; }
  .room__content-img {
    left: 185px;
    top: -40px; }
  .room__social-img {
    left: 60px;
    top: 225px; }

.room-heading {
  width: 660px;
  margin-left: auto;
  margin-right: 24vw; }
  .room-heading__header {
    margin-top: 0;
    font-family: 'OpenGost Type A TT', serif;
    text-transform: uppercase;
    font-size: 55px;
    color: #fff;
    letter-spacing: 0.16em;
    line-height: 1.0727272727272728em; }
  .room-heading__sub-header {
    font-family: 'Helvetica';
    font-size: 25px;
    margin-top: 0.4em;
    margin-bottom: 0.8em;
    display: block;
    line-height: 1.2em;
    letter-spacing: 0.1em; }
  .room-heading__text {
    font-family: 'Helvetica';
    font-size: 16px;
    line-height: 1.875em;
    letter-spacing: 0.1em;
    text-align: left; }

.visual-text {
  position: relative;
  width: 475px;
  margin-left: auto;
  margin-right: 24vw; }
  .visual-text__img {
    display: none; }
  .visual-text__title {
    color: #fff;
    border-bottom: 1px dotted #fff;
    border-width: 2px;
    font-size: 40px;
    font-family: 'OpenGost Type A TT', serif;
    line-height: 0.75em;
    padding-bottom: 0.375em;
    letter-spacing: 0.1em;
    display: block;
    margin-bottom: 0.625em;
    cursor: pointer; }
  .visual-text__toggler {
    color: #fff;
    display: block;
    width: 35px;
    text-align: center;
    height: 48px;
    line-height: 48px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 25px;
    cursor: pointer;
    -webkit-transition: all .5s;
    transition: all .5s; }
    .visual-text__toggler_rotated {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
  .visual-text__content {
    font-size: 16px;
    font-family: 'Helvetica';
    letter-spacing: 0.1em;
    line-height: 1.875em;
    margin-bottom: 4.6875em;
    display: none; }
  .visual-text:last-of-type .visual-text__content {
    margin-bottom: 0; }

.visual {
  position: relative; }
  .visual__external-img {
    display: inline-block;
    position: absolute;
    z-index: 1;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0; }
    .visual__external-img_visible {
      opacity: 1; }
  .visual__trigger {
    position: absolute;
    cursor: pointer;
    color: #fff;
    font-size: 50px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    background-color: #2d232c;
    z-index: 2;
    -webkit-transition: background .3s;
    transition: background .3s; }
    .visual__trigger_apartments {
      top: 430px;
      left: 175px; }
    .visual__trigger_content {
      top: 345px;
      left: 525px; }
    .visual__trigger_social {
      top: 215px;
      left: 90px; }
    .visual__trigger_enabled, .visual__trigger:hover {
      border: 1px solid #fff;
      background-color: #33a296;
      line-height: 48px; }
