@charset "UTF-8";
@media (min-width: 1280px) {
  .container {
    width: 1260px; } }

@media (min-width: 1335px) {
  .container {
    width: 1366px; } }

@media only screen and (max-width: 1340px) {
  .access__login, .access__register {
    padding: 0 5px; }
  .access__login::before {
    margin-right: 5px; } }

@media only screen and (max-width: 1200px) {
  .navigation-container .col-md-9 {
    width: -webkit-calc(100% - 225px);
    width: calc(100% - 225px); }
  .navigation-container .col-md-3 {
    width: 225px; } }

@media only screen and (max-width: 1200px) {
  .menu {
    height: 40px;
    line-height: 57px; } }

@media only screen and (max-width: 1200px) {
  .access {
    height: 40px;
    line-height: 40px; } }

@media only screen and (max-width: 1000px) {
  .navigation-container .col-md-9 {
    padding-right: 0; }
  .navigation-container .col-md-3 {
    padding-left: 0; } }

@media only screen and (max-width: 991px) {
  .menu-trigger {
    display: block;
    padding: 0 15px; } }

@media only screen and (max-width: 991px) {
  .navigation-container {
    display: none; }
    .navigation-container_enabled {
      display: block;
      position: fixed;
      top: 68px;
      height: -webkit-calc(100vh - 70px);
      height: calc(100vh - 70px);
      left: 0;
      width: 100vw;
      padding-top: 13%;
      background-color: #5eaf9b; }
    .navigation-container .col-md-9 {
      width: 100%;
      padding: 0; } }

@media only screen and (max-width: 991px) {
  .header-menu__item {
    display: block;
    text-align: center; } }

@media only screen and (max-width: 770px) {
  .logo {
    text-align: right; } }

@media only screen and (max-width: 770px) {
  .navigation-container .col-md-3 {
    width: 100%;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0; } }

@media only screen and (max-width: 770px) {
  .access {
    background-color: #FFF; }
    .access__login {
      width: 49.8%;
      text-align: right; }
    .access__register {
      width: 49%; } }

@media only screen and (max-width: 774px) {
  .access_tablet-right {
    display: none; } }

@media only screen and (max-width: 1450px) {
  .banner {
    margin-top: 6vh; }
    .banner__toggle-video {
      margin-bottom: 40px; } }

@media only screen and (max-width: 1350px) {
  .top-block {
    background-position: 110% bottom; } }

@media only screen and (max-width: 1350px) {
  .banner {
    padding-right: 0; } }

@media only screen and (max-width: 1335px) {
  .form-block__name {
    margin-right: 5%; } }

@media only screen and (max-width: 1280px) {
  .form-block__name {
    margin-right: 0%; } }

@media only screen and (max-width: 1280px) {
  .top-block .col-md-7 {
    width: 100%; } }

@media only screen and (max-width: 1280px) {
  .banner__toggle-video {
    margin: 15px auto 145px 0; }
  .banner__date {
    margin-left: 1vw;
    margin-top: 15px; } }

@media only screen and (max-width: 1280px) {
  .top-block {
    background-size: 560px; } }

@media only screen and (max-width: 800px) {
  .banner__date {
    margin: auto; }
  .banner__arrows {
    display: none; }
  .banner__toggle-video {
    margin-top: 100px;
    margin-bottom: 110px; }
  .banner__play {
    right: initial;
    left: 0;
    top: -115px; } }

@media only screen and (max-width: 800px) {
  .top-block {
    background-position: 150% bottom; } }

@media only screen and (max-width: 700px) {
  .top-block {
    background-position: 40vw bottom; } }

@media only screen and (max-width: 450px) {
  .top-block {
    background-position: 30vw bottom; } }

@media only screen and (max-width: 700px) {
  .banner {
    margin-top: 2vh; } }

@media only screen and (max-width: 700px) {
  .headline__text {
    letter-spacing: normal; }
  .headline__header {
    letter-spacing: 0.05em; }
  .headline__bigest-word {
    letter-spacing: 0.16em; } }

@media only screen and (max-width: 560px) {
  .headline__header {
    font-size: 40px; }
  .headline__bigest-word {
    font-size: 91px; }
  .headline__text {
    font-size: 18px; } }

@media only screen and (max-width: 560px) {
  .video__player {
    width: 95%; } }

@media only screen and (max-width: 560px) {
  .banner__toggle-video {
    margin-top: 135px; } }

@media only screen and (max-width: 400px) {
  .top-block {
    background-size: 400px;
    background-position: 36vw bottom; } }

@media only screen and (max-width: 400px) {
  .banner__toggle-video {
    height: 70px; } }

@media only screen and (max-width: 340px) {
  .access__login {
    width: 49%; } }

@media only screen and (max-width: 1280px) {
  .news {
    padding: 0 5%; } }

@media only screen and (max-width: 1280px) {
  .news-block__container .col-lg-4 {
    margin-bottom: 30px; }
  .news-block__container:last-of-type {
    margin-bottom: 0; } }

@media only screen and (max-width: 420px) {
  .form-block__name, .form-block__tel {
    max-width: 100%;
    background-size: 305px; }
  .form-block__name {
    background-position: -10px -297px; }
  .form-block__tel {
    background-position: -10px -332px; } }

@media only screen and (max-width: 1870px) {
  .footer__img img {
    right: -155px; } }

@media only screen and (max-width: 1870px) {
  .footer__img img {
    right: -15vw; } }

@media only screen and (max-width: 1450px) {
  .footer__img img {
    width: 520px;
    right: -15vw;
    bottom: -111px; } }

@media only screen and (max-width: 1280px) {
  .footer-menu__item:nth-of-type(2), .footer-menu__item:nth-of-type(3), .footer-menu__item:nth-of-type(4), .footer-menu__item:nth-of-type(7) {
    display: none; } }

@media only screen and (max-width: 940px) {
  .form-block {
    padding-bottom: 300px; } }

@media only screen and (max-width: 920px) {
  .footer-menu__list {
    text-align: left; } }

@media only screen and (max-width: 800px) {
  .footer__img img {
    right: -25vw; } }

@media only screen and (max-width: 770px) {
  .footer-info {
    padding-left: 30px;
    padding-right: 30px; }
    .footer-info__copyright {
      margin-left: 30px; }
    .footer-info__studio {
      margin-right: 30px; } }

@media only screen and (max-width: 700px) {
  .footer-menu {
    height: auto;
    margin-top: 75px; }
    .footer-menu__item {
      display: block;
      text-align: center;
      margin-right: 0; } }

@media only screen and (max-width: 690px) {
  .footer-info .row {
    text-align: center; } }

@media only screen and (max-width: 690px) {
  .footer-info__studio {
    float: none; } }

@media only screen and (max-width: 600px) {
  .footer-info__copyright {
    margin-left: 0;
    max-width: initial; }
  .footer-info__studio {
    margin-right: 0; } }

@media only screen and (max-width: 1030px) {
  .guest-block > .container:first-of-type {
    margin: 0;
    padding: 0;
    width: 100%; }
    .guest-block > .container:first-of-type .col-md-12:first-of-type {
      margin-left: 15px;
      margin-right: 15px;
      width: -webkit-calc(100% - 30px);
      width: calc(100% - 30px);
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
  .guest-block .slider {
    max-width: 100%; } }

@media only screen and (max-width: 1030px) {
  .slide-headings__heading::after {
    top: 98%; } }

@media only screen and (max-width: 1030px) {
  .web-studio__img {
    position: relative; } }

@media only screen and (max-width: 992px) {
  .guest-block__slide-text {
    padding: 0 30px; } }

@media only screen and (max-width: 890px) {
  .slide-headings__heading {
    margin-left: 10px; } }

@media only screen and (max-width: 750px) {
  .slide-headings__heading {
    display: none; }
  .guest-block .slider__label, .guest-block .slider__controls {
    display: block; }
  .guest-block .slider__slide:not(:first-of-type) {
    margin-right: 0; } }

@media only screen and (max-width: 500px) {
  .guest-block .slider__slide img {
    max-width: initial;
    max-height: 80vh; } }

@media only screen and (max-width: 1865px) {
  .room-heading, .visual-text {
    margin-right: 18vw; } }

@media only screen and (max-width: 1655px) {
  .room-heading, .visual-text {
    margin-right: 12vw; } }

@media only screen and (max-width: 1550px) {
  .room-heading, .visual-text {
    margin-right: 6vw; } }

@media only screen and (max-width: 1550px) {
  .room-heading, .visual-text {
    margin-right: 30px; } }

@media only screen and (max-width: 1350px) {
  .room {
    padding-top: 50px;
    position: relative;
    background-image: none;
    min-height: 940px; }
    .room__content-img {
      top: 155px;
      left: 690px; }
    .room__apartments-img {
      left: 370px;
      top: 235px; }
    .room__social-img {
      left: 535px;
      top: 425px; } }

@media only screen and (max-width: 1350px) {
  .room-heading {
    margin-left: 0px;
    width: auto; }
    .room-heading__text {
      max-width: 100%;
      width: 400px; } }

@media only screen and (max-width: 1350px) {
  .visual-text {
    width: 350px; }
    .visual-text:last-of-type .visual-text__content {
      margin-bottom: 60px; }
    .visual-text__title {
      margin: 0;
      margin-bottom: 20px;
      padding: 0;
      border: none;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.9); }
      .visual-text__title_visible {
        text-shadow: none;
        color: #30232a; }
    .visual-text__toggler {
      display: none;
      background-color: #30232a;
      width: 35px;
      height: 35px;
      line-height: 27px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      font-size: 30px;
      top: 20px;
      right: 40px; }
      .visual-text__toggler::before {
        font-family: 'Helvetica';
        content: '×'; }
      .visual-text__toggler_rotated {
        display: block; }
    .visual-text_visible {
      background-image: url(../img/dialog-bg.png);
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      -ms--webkit-background-size: contain;
      padding: 30px;
      background-size: contain;
      overflow: visible;
      background-repeat: no-repeat; }
    .visual-text__content {
      margin-bottom: 60px;
      width: 270px;
      line-height: 1.44;
      opacity: 0;
      visibility: hidden;
      display: none; }
      .visual-text__content_visible {
        visibility: visible;
        display: block;
        -webkit-transition: opacity .3s;
        transition: opacity .3s;
        -webkit-transition-delay: .4s;
        transition-delay: .4s;
        opacity: 1; }
  .visual {
    width: 1350px;
    height: 700px;
    overflow: hidden;
    position: absolute;
    background-image: url(../img/room-big.png);
    background-position: center top;
    margin: auto;
    right: 0;
    top: 240px; }
    .visual__text {
      position: absolute;
      margin: 0;
      z-index: 2; }
      .visual__text[data-part='apartments'] {
        bottom: 355px;
        left: 400px; }
      .visual__text[data-part='content'] {
        bottom: 100px;
        left: 215px; }
      .visual__text[data-part='social'] {
        left: initial;
        right: 240px;
        bottom: 40px; }
    .visual__trigger_apartments {
      top: 350px;
      left: 620px; }
    .visual__trigger_social {
      left: initial;
      right: 360px;
      top: 520px; }
    .visual__trigger_content {
      top: 610px;
      left: 425px; }
    .visual__external-img {
      opacity: 1; } }

@media only screen and (max-width: 1000px) {
  .room {
    min-height: 0;
    padding-bottom: 0; } }

@media only screen and (max-width: 1000px) {
  .room-heading {
    text-align: center;
    margin-right: 0; }
    .room-heading__header {
      font-size: 50px;
      color: #2c1e1d; }
    .room-heading__text {
      width: 70%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 60px; } }

@media only screen and (max-width: 1000px) {
  .visual {
    background-image: none;
    position: static;
    width: 100%;
    height: auto; }
    .visual__trigger {
      display: none; }
    .visual__external-img {
      display: none; }
    .visual__text {
      position: static;
      margin-right: auto;
      margin-left: auto;
      width: 100%;
      background-image: none;
      text-align: center; } }

@media only screen and (max-width: 1000px) {
  .visual-text__img {
    max-width: 100%; }
  .visual-text__title {
    width: 72%;
    text-align: left;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #fff;
    color: #2c1e1d;
    text-shadow: none; }
  .visual-text__content {
    width: 72%;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    outline: 1px;
    display: block !important;
    visibility: visible;
    opacity: 1; } }

@media only screen and (max-width: 500px) {
  .visual-text__title {
    width: 100%; }
  .visual-text__content {
    width: 100%; } }

@media only screen and (max-width: 600px) {
  .room-heading__text {
    width: 100%; } }

@media only screen and (max-width: 500px) {
  .room-heading__sub-header {
    font-size: 17px; }
  .room-heading__header {
    font-size: 42px; } }
