$menu_text: #33a296
$menu_black: #101219
$sprite: url('../img/sprite.png')
$banner_bgc: #62b29d
body 
	max-width: 100%
	overflow-x: hidden
	padding-top: 76px
.header
	padding: 10px 0
	position: fixed
	top: 0
	z-index: 100
	width: 100%
	background-color: #FFF
	&_scrolled
		box-shadow: 0px 1px 10px 2px rgba(0,0,0,.4)
.menu-trigger
	display: none
	font-size: 30px
	position: relative
	&__icon
		line-height: 46px
.logo
	&__img
		max-width: 100%
.link
	font-family: 'Roboto', sans-serif
	font-weight: 500
	font-size: 16px
	transition: all .3s
	color: $menu_black
	&:hover
		text-decoration: none

.menu
	width: 100%
	height: 56px
	line-height: 72px
	&__list
		list-style: none
		padding: 0
		margin: 0
		display: inline-block
		line-height: 1
		text-align: center
		width: 100%
	&__item
		display: inline-block
		margin-right: 10px
		&:not(:last-of-type)
			margin-right: 0
	&__link
		display: inline-block
		padding: 5px 10px
		letter-spacing: .1em
		position: relative
		overflow: hidden
		&::after
			content: ''
			position: absolute
			height: 5px
			display: block
			top: 0
			left: 0
			right: 0
			bottom: 0
			margin: auto
			border-radius: 50%
			width: 5px
			z-index: -1
			background-color: transparent
			transition: all .5s
			opacity: 0	
		&_curent, &:hover
			color: #fff
			&::after
				background-color: $menu_text
				color: #fff
				width: 100%
				opacity: 1
				height: 26px
				border-radius: 0
.access
	height: 56px
	line-height: 61px
	&__login, &__register
		font-size: 14px
		display: inline-block
		padding: 0 15px
		&:hover
			color: $menu_text
	&__login
		&::before
			content: ''
			display: inline-block
			margin-right: 15px
			background-image: $sprite
			background-repeat: no-repeat
			background-position: 0% 0px
			width: 43px
			height: 17px
			position: relative
			top: 2px
		&:hover::before
			background-position: -43px 0 // splited on bem
	&_tablet-right
		text-align: right
.top-block
	background-color: $banner_bgc
	background-image: url("../img/banner-bg.png")
	background-repeat: no-repeat
	background-position: 93% bottom
	background-size: contain
	.container
		position: relative
	&_no-bg
		background-image: none
.banner
	padding-right: 109px
	margin-top: 16vh
	position: relative
	backface-visibility: hidden
	transition: all 1s
	&_disabled
		transform: rotateY(180deg);
	&__date
		background-image: $sprite
		background-repeat: no-repeat
		background-position: -5px -22px
		display: block
		width: 221px
		height: 53px
		margin: auto
		text-align: center
		color: #fff
		font-family: 'Ubuntu', sans-serif
		font-size: 20px
		letter-spacing: .1em
		padding-top: 3px
	&__action-text
		font-family: 'OpenGost Type A TT', serif 
		text-transform: uppercase
		font-size: 36px
		position: relative
		z-index: 1
		letter-spacing: .16em
	&__toggle-video
		position: relative
		height: 175px
		width: 270px
		margin: 40px auto 145px
	&__arrows
		background-image: $sprite
		background-repeat: no-repeat
		background-position: 0 -98px
		width: 245px
		height: 167px
		position: absolute
		top: 55px
		left: -39px
		z-index: 0
		transform-origin: top center
		transform: rotate(125deg)
		opacity: 0
		transition: all 1s
		&_visible
			opacity: 1
			transform: rotate(0deg)
	&__play
		background-image: $sprite
		background-repeat: no-repeat
		width: 131px
		height: 123px
		background-position: -6px -265px
		position: absolute
		right: -24px
		top: 25px
		cursor: pointer
		opacity: 0
		transition: all 1s .5s
		&_visible
			opacity: 1
.headline
	color: #fff
	text-align: center
	&__header
		letter-spacing: .16em
		font-size: 81px
		font-family: 'OpenGost Type A TT', serif
		text-transform: uppercase
		line-height: 0.8
	&__bigest-word
		font-size: 131px
	&__text
		font-family: 'Ubuntu', sans-serif
		font-weight: 500
		font-size: 20px
		letter-spacing: .46em
.video
	&:not(html)
		position: absolute
		top: 0
		bottom: 0
		width: 100%
		backface-visibility: hidden
		transform: rotateY(180deg)
		visibility: hidden
		transition: all 1s 
		z-index: -1
		opacity: 0
	&_enabled:not(html)
		z-index: 1
		opacity: 1
		transform: rotateY(0deg)
		visibility: visible
	&__player
		position: absolute
		padding: 26px
		top: 0
		right: 0
		bottom: 0
		left: 0
		width: 70%
		margin: auto
		display: block
		iframe
			width: 100%
	&__close
		color: #fff 
		font-size: 30px
		position: absolute
		top: -5px
		cursor: pointer
		right: 0
		&:hover
			text-shadow: 0px 0px 2px black
.news-block
	&__toggler
		background-color: #41303e
		color: #fff 
		margin: 0
		text-align: center
		font-size: 32px
		font-family: 'OpenGost Type A TT', serif
		letter-spacing: 0.24em
		padding: 28px
		cursor: pointer
		position: relative
		z-index: 3
		&::after
			content: ''
			display: block
			width: 0
			border: 70px solid transparent
			border-top: 50px solid #41303e
			position: absolute
			top: 100%
			left: 0
			right: 0
			margin: auto
			pointer-events: none
	&__container
		margin-top: 70px
		margin-bottom: 70px 
.news
	padding: 0 10%
	&__title

	&__body
		text-align: justify
		display: none
		p 
			hyphens: auto
	&__redirect
		text-decoration: underline
	&__button
		background-color: #6b5a8d
		display: inline-block
		color: #fff
		font-size: 20px
		height: 45px
		width: 45px
		line-height: 45px
		cursor: pointer
		text-align: center
		top: 0
		right: 0
		position: absolute
		span
			transition: all .5s
		&_opened
			span
				transform: rotate(180deg)
.news-name
	position: relative
	margin-bottom: 35px
	height: 70px
	&__text
		margin: 0
		padding-right: 50px
		font-family: 'OpenGost Type A TT', serif 
		text-decoration: underline
		font-size: 32px
		letter-spacing: 0.1em
.form-block
	background-color: #6b5a8d
	color: #fff
	padding-top: 100px
	padding-bottom: 40px
	&__name,&__tel
		width: 362px
		display: inline-block
		background-image: $sprite
		background-position: -10px -385px
		background-repeat: no-repeat
		padding-bottom: 20px
		& input
			outline: none
			display: inline-block
			width: 100%
			text-align: center
			background-color: transparent
			border: none
			color: #fff
			font-size: 16px
			letter-spacing: .1em
			&::-webkit-input-placeholder,
			&::-moz-placeholder,
			&:-moz-placeholder,
			&:-ms-input-placeholder 
				opacity: 1
	&__name
		margin-right: 10%
	&__messege
		position: relative
		margin-bottom: 65px
		textarea
			display: block
			width: 100%
			margin: auto
			margin-top: 40px
			outline: none
			resize: none
			text-align: center
			overflow-y: auto
			background-color: transparent
			border: none
			font-size: 16px
			border-bottom: 4px solid #fff
		&::after,&::before
			content: ''
			display: block
			height: 10px
			width: 10px
			background-color: #FFF
			border-radius: 50%
			bottom: -3px
			left: -1px
			position: absolute
		&::before
			left: initial
			right: -1px
	&__submit
		display: block
		width: 305px
		height: 95px
		margin: auto
		outline: none
		background-image: $sprite
		background-position: -7px -490px
		background-color: transparent
		border: none
		font-family: 'Roboto', sans-serif
		font-size: 24px
		text-transform: uppercase
		margin-bottom: 50px
		span 
			transition: all .5s
		&:hover
			span
				transform: translateX(-20px)
	&__contact-tel
		color: #fff
		margin-bottom: 10px
		font-size: 24px
		letter-spacing: 0.1em
		&:hover
			color: #fff
	&__service
		color: #fff
		text-decoration: underline
		&:hover
			color: #fff
			text-decoration: underline
.form
	text-align: center
.title
	text-align: center
	&__heading
		margin: 0
		font-family: 'OpenGost Type A TT', serif 
		text-transform: uppercase
		font-size: 55px
		letter-spacing: 0.16em
		margin-bottom: 15px
	&__text
		font-family: 'Helvetica', sans-serif
		font-size: 25px
		font-weight: 300
		letter-spacing: 0.1em
		margin-bottom: 60px
.footer
	&__img
		position: relative
		max-width: 100%
		min-width: 100%
		z-index: 0
		height: 30px
		img
			position: absolute
			right: -5px
			bottom: -136px
	&>.container
		position: relative
		z-index: 1
.footer-info
	margin-top: 20px
	min-height: 90px
	padding: 15px 0
	background-color: #ececec
	&__copyright
		min-height: 40px
		line-height: 40px
		margin-left: 15px
		color: #7f7f7f
		display: inline-block
		vertical-align: middle
		position: relative
		max-width: 50%
		span
			line-height: normal
			display: inline-block
			margin-left: 30px
		.copy
			font-size: 26px
			height: 26px
			display: inline-block
			position: absolute
			top: 0px
			bottom: 0
			margin: auto
			line-height: 1
.web-studio
	display: inline-block
	float: right
	line-height: normal
	margin-right: 15px
	&:hover
		text-decoration: none
	&__text
		text-align: right
		line-height: normal
		display: inline-block
		color: black
	&__img
		display: inline-block
		vertical-align: top
.apartments
	background-color: #ed8d54
	background-image: radial-gradient(ellipse farthest-corner at center top,rgb(243, 172, 74) 0%,rgb(237, 141, 84) 100%)
	&__header
		text-align: center
		color: #fff
		font-family: 'OpenGost Type A TT', serif 
		font-size: 60px
		letter-spacing: 0.16em
		margin-top: 100px
		margin-bottom: 20px
	&__s-header
		display: block
		text-align: center
		font-size: 25px
		font-family: 'Helvetica', sans-serif
		letter-spacing: 0.1em
		color: #2f232c
		line-height: 1
		margin-bottom: 50px
.carousel-item
	&__text
		color: #fff
		font-family: 'OpenGost Type A TT', serif 
		text-transform: uppercase
		font-size: 24px
		letter-spacing: 0.1em
		line-height: 1.25em
		text-align: center
	&__img
		display: block
		margin: auto
.owl-buttons
	position: relative
	div
		position: absolute
		top: -135px
		margin: auto
		height: 85px
		&.owl-next
			right: 0
	span
		font-size: 72px
		&:hover
			color: #fff
.guest-block
	&__header
		text-align: center
		text-transform: uppercase
		font-family: 'OpenGost Type A TT', serif 
		letter-spacing: 0.16em
		font-size: 55px
		margin-top: 85px
		margin-bottom: 40px
	&__slogan
		text-align: center
		font-size: 16px
		letter-spacing: 0.1em
		line-height: 1.875em
		max-width: 590px
		margin: auto
		margin-bottom: 70px
	.slider
		max-width: 87%
		margin: auto
		position: relative
		&__controls
			background-color: #6b5a8d
			color: #1d1513
			width: 55px
			height: 55px
			text-align: center
			line-height: 61px
			font-size: 34px
			position: absolute
			top: 45%
			z-index: 3
			display: none
			&:hover
				color: #fff
			&_next
				right: 0

		&__label
			position: absolute
			top: 15px
			left: 15px
			background-color: #33a296
			color: #FFF
			padding: 10px
			font-size: 21px
			font-family: 'Roboto'
			visibility: hidden
			opacity: 0
			transition: all 0.3s
			display: none
		.slider-container
			clear: both
			position: relative
		&__slide
			display: inline-block
			position: relative
			left: 0
			&:not(:first-of-type)
				margin-left: -4px
			a 
				display: inline-block
				position: absolute
				z-index: 2
				width: 185px
				color: #fff 
				background-color: #33a296
				text-align: center
				padding: 10px 0
				outline: 2px solid #fff
				text-transform: uppercase
				bottom: 5%
				right: 13%
				font-size: 20px
				letter-spacing: 0.16em
				text-decoration: none
				visibility: hidden
				opacity: 0
				transition: all .3s
			&.active
				a 
					visibility: visible
					opacity: 1
				.slider__label
					visibility: visible
					opacity: 1
			img 
				max-width: 100%
	&__slide-text
		text-align: justify
		font-size: 18px
		font-family: 'Helvetica'
		position: absolute
		z-index: 0
		opacity: 0
		transition: all 1s
		visibility: hidden
		top: 0
		margin-bottom: 50px
		&.active
			position: static
			opacity: 1
			visibility: visible
.slide-headings
	text-align: center
	margin-top: 40px
	margin-bottom: 65px
	&__heading
		display: inline-block
		font-size: 21px
		padding: 10px 
		position: relative
		cursor: pointer
		font-family: 'Helvetica'
		letter-spacing: 0.1em
		margin-left: 50px
		&:first-of-type
			margin-left: 0
		&::after
			content: ''
			border: 18px solid transparent
			border-top: 15px solid #33a296
			position: absolute
			left: 0
			right: 0
			top: 100%
			margin: auto
			width: 15px
			pointer-events: none
			visibility: hidden
		&.active
			background-color: #33a296
			color: #fff
			font-family: 'Roboto', sans-serif
			&::after
				visibility: visible
.room
	background-color: #EDB660
	background-image: radial-gradient(circle farthest-side at left center, #FFD766 10%, #EDB660 50%)
	padding-top: 100px
	padding-bottom: 80px
	overflow: hidden
	background-image: url('../img/room-big.png')
	background-repeat: no-repeat	
	background-size: 1320px
	background-position: -405px 150px
	&__apartment-img 
		left: -71px
		bottom: -147px
	&__content-img
		left: 255px
		top: -40px
	&__social-img
		left: 115px
		top: 225px
.room-heading
		width: 660px
		margin-left: auto
		margin-right: 24vw
		&__header
			margin-top: 0
			font-family: 'OpenGost Type A TT', serif 
			text-transform: uppercase
			font-size: 55px
			color: #fff
			letter-spacing: 0.16em
			line-height: 1.0727272727272728em
		&__sub-header
			font-family: 'Helvetica'
			font-size: 25px
			margin-top: 0.4em
			margin-bottom: 0.8em
			display: block
			line-height: 1.2em
			letter-spacing: 0.1em
		&__text
			font-family: 'Helvetica'
			font-size: 16px
			line-height: 1.875em
			letter-spacing: 0.1em
.visual-text
	position: relative
	width: 475px
	margin-left: auto
	margin-right: 24vw
	&__title
		color: #fff
		border-bottom: 1px dotted #fff
		border-width: 2px
		font-size: 40px
		font-family: 'OpenGost Type A TT', serif 
		line-height: 0.75em
		padding-bottom: 0.375em
		letter-spacing: 0.1em
		display: block
		margin-bottom: 0.625em
	&__toggler
		color: #fff
		display: block
		width: 35px
		text-align: center
		height: 48px
		line-height: 48px
		position: absolute
		right: 0
		top: 0
		font-size: 25px
		cursor: pointer
	&__content
		font-size: 16px
		font-family: 'Helvetica'
		letter-spacing: 0.1em
		line-height: 1.875em
		margin-bottom: 4.6875em
	&:last-of-type
		.visual-text__content
			margin-bottom: 0
.visual
	position: relative
	&__external-img
		display: inline-block
		position: absolute
		z-index: 1
	&__trigger
		position: absolute
		cursor: pointer
		color: #fff
		font-size: 50px
		height: 50px
		width: 50px
		line-height: 50px
		border-radius: 50%
		box-sizing: border-box
		text-align: center
		color: #fff
		background-color: #2d232c
		z-index: 2
		transition: background .3s
		&_apartmens
			top: 430px
			left: 245px
		&_content
			top: 345px
			left: 595px
		&_social
			top: 215px
			left: 175px
		&_enabled,&:hover
			border: 1px solid #fff
			background-color: #33a296
			line-height: 48px