@media (min-width: 1280px)
	.container
		width: 1260px
@media (min-width: 1335px)
	.container
		width: 1366px
@media only screen and(max-width: 1340px)
	.access
		&__login, &__register
			padding: 0 5px
		&__login
			&::before
				margin-right: 5px	
@media only screen and(max-width: 1200px)
	.navigation-container
		.col-md-9
			width: calc(100% - 225px)
		.col-md-3
			width: 225px
@media only screen and(max-width: 1200px)
	.menu
		height: 40px
		line-height: 40px
@media only screen and(max-width: 1200px)
	.access
		height: 40px
		line-height: 40px
@media only screen and(max-width: 1000px)
	.navigation-container
		.col-md-9
			padding-right: 0
		.col-md-3
			padding-left: 0
@media only screen and(max-width: 991px)
	.menu-trigger
		display: block
		padding: 0 15px
// splited on bem
@media only screen and(max-width: 991px)
	.navigation-container
		display: none
		&_enabled
			display: block
			position: fixed
			top: 68px
			height: calc(100vh - 70px)
			left: 0
			width: 100vw
			padding-top: 13%
			background-color: #5eaf9b
		.col-md-9
			width: 100%
			padding: 0
@media only screen and(max-width: 991px)
	.header-menu
		&__item
			display: block
			text-align: center
@media only screen and(max-width: 770px)
	.logo
		text-align: right
@media only screen and(max-width: 770px)
	.navigation-container 
		.col-md-3
			width: 100%
			padding: 0
			position: absolute
			bottom: 0
			left: 0
@media only screen and(max-width: 770px)
	.access
		background-color: #FFF
		&__login
			width: 49.8%
			text-align: right
		&__register
			width: 49%
@media only screen and(max-width: 774px)
	.access
		&_tablet-right
			display: none
@media only screen and(max-width: 1450px)
	.banner
		margin-top: 6vh
		&__toggle-video
			margin-bottom: 40px
@media only screen and(max-width: 1350px)
	.top-block
		background-position: 110% bottom
@media only screen and(max-width: 1350px)
	.banner
		padding-right: 0
@media only screen and(max-width: 1280px)
	.top-block
		.col-md-7
			width: 100%
@media only screen and(max-width: 1280px)
	.banner
		&__toggle-video
			margin: 15px auto 145px 0;
		&__date
			margin-left: 1vw
			margin-top: 15px
@media only screen and(max-width: 1280px)
	.top-block
		background-size: 560px
@media only screen and(max-width: 800px)
	.banner
		&__date
			margin: auto
		&__arrows
			display: none
		&__toggle-video
			margin-top: 100px
			margin-bottom: 110px
		&__play
			right: initial
			left: 0
			top: -90px
@media only screen and(max-width: 800px)
	.top-block
		background-position: 150% bottom
@media only screen and(max-width: 700px)
	.top-block
		background-position: 40vw bottom
@media only screen and(max-width: 450px)
	.top-block
		background-position: 30vw bottom
@media only screen and(max-width: 700px)
	.banner
		margin-top: 2vh
@media only screen and(max-width: 700px)
	.headline
		&__text
			letter-spacing: normal
		&__header
			letter-spacing: 0.05em
		&__bigest-word
			letter-spacing: 0.16em
@media only screen and(max-width: 560px)
		.headline
			&__header
				font-size: 40px
			&__bigest-word
				font-size: 91px
			&__text
				font-size: 18px
@media only screen and(max-width: 560px)
	.video
		&__player
			width: 95%
@media only screen and(max-width: 400px)
	.top-block
		background-size: 400px
		background-position: 36vw bottom
@media only screen and(max-width: 400px)
	.banner
		&__toggle-video
			height: 70px
@media only screen and(max-width: 340px)
	.access__login
		width: 49%
@media only screen and(max-width: 1280px)
	.news
		padding: 0 5%
@media only screen and(max-width: 1280px)
	.news-block
		&__container
			.col-lg-4
				margin-bottom: 30px
			&:last-of-type
				margin-bottom: 0